.display__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quizz__container {
  width: 95%;
  margin: auto;
  margin-top: 60px;

  &__logo {
    gap: 1rem;
    margin-bottom: 10px;
    flex-direction: column;

    img {
      width: 90%;
    }

    h3 {
      margin-bottom: 20px;
    }
  }

  &__questions {
    font-size: 20px;

    width: 100%;
    height: 200px;
    margin-bottom: 20px;

    border: 1px solid var(--purple);
    border-radius: 8px;
    background-color: var(--light-purple);
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    ul {
      list-style: none;
      width: 100%;
    }

    &__btn {
      margin: auto;

      font-size: 17px;

      color: var(--white);
      background-color: transparent;

      width: 90%;
      padding: 16px 31px;

      border: 1px solid var(--green);
      text-shadow: 0px 1px 0px var(--dark-green);
      border-radius: 8px;

      transition: background-color 0.2s ease;
      cursor: pointer;
    }
    &__btn:hover {
      background-color: var(--leemon-green);
    }
    &__btn:active {
      position: relative;
      top: 1px;
    }
  }

  &__results {
    flex-direction: column;
    gap: 0.8rem;

    width: 100%;
    height: 350px;

    padding: 30px;

    background-color: var(--dark-purple);
    border-radius: 10px;
  }
}

@media screen and (min-width: 500px) {
  .quizz__container {
    width: 80%;

    &__logo {
      img {
        width: 350px;
      }
    }
  }
}
