<div class="quizz__container">
    <div class="quizz__container__logo display__flex">
        <img src="assets/images/logo.png" alt="Logo da página">
        <h3>{{ title }}</h3>
    </div>
    <div *ngIf="!finished">
        <div class="quizz__container__questions display__flex">
            <h3>{{ questionSelected.question }}</h3>
        </div>
        <div class="quizz__container__options display__flex">
            <ul *ngFor="let option of questionSelected.options; let i = index" (click)="nextQuestion(option.alias)">
                <li>
                    <button class="quizz__container__options__btn display__flex">{{ option.name }}</button>
                </li>
            </ul>

        </div>
    </div>
    <div *ngIf="finished" class="quizz__container__results display__flex">
        <h1>O seu resultado é:</h1>
        <p>{{ answerSelected }}</p>
        <button (click)="resetGame()" class="quizz__container__options__btn">Rejogar</button>
    </div>
</div>