.display__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quizz__container {
  width: 80%;
  margin: auto;
  margin-top: 60px;

  &__logo {
    gap: 1rem;
    margin-bottom: 10px;
    flex-direction: column;

    h3 {
      margin-bottom: 20px;
    }
  }

  &__questions {
    font-size: 20px;

    width: 100%;
    height: 200px;
    margin-bottom: 20px;

    border: 1px solid #4224d9;
    border-radius: 8px;
    background-color: #644ed2;
  }

  &__options {
    flex-wrap: wrap;
    margin: auto;

    &__btn {
      display: inline-block;
      font-size: 17px;

      color: white;
      background-color: transparent;

      width: 50%;
      padding: 16px 31px;

      border: 1px solid #18ab29;
      text-shadow: 0px 1px 0px #2f6627;
      border-radius: 8px;

      transition: background-color 0.2s ease;
      cursor: pointer;
    }
    &__btn:hover {
      background-color: #5cbf2a;
    }
    &__btn:active {
      position: relative;
      top: 1px;
    }
  }

  &__results {
    flex-direction: column;
    gap: 0.8rem;

    width: 100%;
    height: 350px;

    padding: 30px;

    background-color: #1f0539;
    border-radius: 10px;
  }
}
